<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insa.quantif_androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quantif"
        android:label="Quantif"
        android:roundIcon="@mipmap/quantif"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipal"
            android:label="Quantif"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sommeil_accueil"
            android:screenOrientation="portrait"/>
        <activity android:name=".sommeil_semaine"
            android:screenOrientation="portrait"/>
        <activity android:name=".sport_bilan"
            android:screenOrientation="portrait"/>
        <activity android:name=".sport_selection"
            android:screenOrientation="portrait"/>
        <activity android:name=".sport_objectif"
            android:screenOrientation="portrait"/>
        <activity android:name=".sport_activite"
            android:screenOrientation="portrait"/>
        <activity android:name=".sommeil_nuit"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".sport_activitev2"
            android:screenOrientation="portrait"/>
        <activity android:name=".sommeil_bilan"
            android:screenOrientation="portrait"/>
        <activity android:name=".sommeil_analysepro"
            android:screenOrientation="portrait"/>
        <activity android:name=".sommeil_analysemouv"
            android:screenOrientation="portrait"/>
    </application>

</manifest>