<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insa.quantif_androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quantif"
        android:label="Quantif"
        android:roundIcon="@mipmap/quantif"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipal"
            android:label="Quantif"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sommeil_accueil" />
        <activity android:name=".sommeil_semaine" />
        <activity android:name=".sport_bilan" />
        <activity android:name=".sport_selection" />
        <activity android:name=".sport_objectif" />
        <activity android:name=".sport_activite" />
        <activity android:name=".sommeil_nuit"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>